/* Font downloads */
@font-face {
    font-family: 'Salome';
    src: url('fonts/webfont/salomewebfont/salome-webfont.eot');
    src: url('fonts/webfont/salomewebfont/salome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfont/salomewebfont/salome-webfont.woff2') format('woff2'),
         url('fonts/webfont/salomewebfont/salome-webfont.woff') format('woff'),
         url('fonts/webfont/salomewebfont/salome-webfont.ttf') format('truetype'),
         url('fonts/webfont/salomewebfont/salome-webfont.svg#salomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Blacker_Italic';
font-style: italic;
font-weight: italic;
src: url('fonts/Blacker/Blacker-Text-Heavy-Italic-trial.woff') format('woff');
}

@font-face {
font-family: 'Blacker_Heavy';
font-style: normal;
font-weight: normal;
src: url('fonts/Blacker/Blacker-Text-Heavy-trial.woff') format('woff');
}

@font-face {
font-family: 'quentin';
font-style: normal;
font-weight: normal;
src: url('fonts/webfont/quentin/Quentin.woff') format('woff');
}

/* the instructions for downloading fonts that will work regardless of computer are here : https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts*/

/*NAVIGATION*/
a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  margin-top: 3%;
}

li{
  display: inline;
  padding: 10px 30px;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
}

.name{
  font-family: 'Blacker_Heavy', serif;
  font-style: normal;
  font-size: 25px;
}
